.cart-dropdown-container
{
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;

    .empty-message
    {
        font-size: 18px;
        margin: 50px auto;
    }

    .cart-items
    {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    .checkout-link
    {
        padding: 10px 15px;
        cursor: pointer;
        margin: 15px 10px 10px 10px;
        text-decoration: none;
        color: black;
        border: 2px solid;
        display: block;

        &:hover
        {
            transition: 500ms;
            background-color: black;
            opacity: 1;
            color: white;
        }
    }

}